@import "tailwindcss";

/* Enable dark mode with class strategy */
@custom-variant dark (&:where(.dark, .dark *));

/* Optional: Add your custom styles */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
